@page
@model IndexModel
@{
    ViewData["Title"] = "Southcoast Address Book Project";
}

<div class="text-center">
    <h3 class="display-4">Welcome to the Address Book</h3>
	<br />
	<div >
		<p>
			With this application you will be able to look at the accumulated first names, last names,
			address and phone numbers of people who have used the address book.
			<br /><br />
			An entry can be viewed, edited or deleted as well.
		</p>
	</div>
	<a class="nav-link" asp-area="" asp-page="/People/Index">Go to Address Book</a>
</div>


